# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# OS-specific
Thumbs.db
Desktop.ini
.DS_Store

# Local log files
*.log
